<header>
  <div class="header-1">
    <div class="logo">
      <img src="/images/logo.png" alt="website logo" />
      <a href="/" class="name">My Library</a>
    </div>

    <form action="/" class="search-form" method="get">
      <input
        type="text"
        class="text-input"
        name="title"
        placeholder="search for books....."
      />
      <button type="submit">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
      </button>
    </form>

    <div class="hero">
      <i class="fa-solid fa-magnifying-glass search-button"></i>
      <% if(locals.user) { %>
      <div class="dropdown" data-dropdown>
        <img
          src="<%= user.profileImagePath %>"
          alt="user image"
          data-dropdown-button
          class="link"
        />
        <div class="dropdown-menu">
          <p class="dropdown-item"><%= user.name %></p>
          <p class="dropdown-item"><%= user.email %></p>
          <p class="dropdown-item"><a href="/login">logout</a></p>
        </div>
      </div>
      <% } else { %>
      <a href="/login"
        ><i class="fa-solid fa-user login-icon" title="login"></i
      ></a>
      <% } %>
      <i class="fa-solid fa-burger menu"></i>
    </div>
  </div>
  <nav class="header-2">
    <ul class="navbar first m-0 p-0">
      <li class="nav-item p-0">
        <a class="nav-link px-2 px-md-1 py-2" href="/categories/23">Academic</a>
      </li>
      <li class="nav-item p-0">
        <a class="nav-link px-2 px-md-1 py-2" href="/categories/11">Fiction</a>
      </li>
      <li class="nav-item p-0">
        <a class="nav-link px-2 px-md-1 py-2" href="/categories/15">Art</a>
      </li>
      <li class="nav-item p-0">
        <a class="nav-link px-2 px-md-1 py-2" href="/categories/13">Health</a>
      </li>
      <li class="nav-item p-0">
        <a class="nav-link px-2 px-md-1 py-2" href="/categories/100"
          >Lifestyle</a
        >
      </li>
      <li class="nav-item p-0">
        <a class="nav-link px-2 px-md-1 py-2" href="/categories/77"
          >Environment</a
        >
      </li>
      <li class="nav-item p-0">
        <span class="px-2 px-md-1 py-2">. . .</span>
      </li>
    </ul>
    <ul class="navbar second m-0 p-0">
      <li class="nav-item p-0">
        <a class="nav-link px-2 px-md-1 py-2" href="/categories/87">Business</a>
      </li>
      <li class="nav-item p-0">
        <a class="nav-link px-2 px-md-1 py-2" href="/categories/73"
          >Psychology</a
        >
      </li>
      <li class="nav-item p-0">
        <a class="nav-link px-2 px-md-1 py-2" href="/categories/99">Politics</a>
      </li>
      <li class="nav-item p-0">
        <a class="nav-link px-2 px-md-1 py-2" href="/categories/22">Religion</a>
      </li>
      <li class="nav-item p-0">
        <a class="nav-link px-2 px-md-1 py-2" href="/categories/40">Science</a>
      </li>
      <li class="nav-item p-0">
        <a class="nav-link px-2 px-md-1 py-2" href="/categories/41"
          >Technology</a
        >
      </li>
    </ul>
  </nav>
</header>
