<div class="category">
  <div class="slider-header">
    <h2 class="slider-title">
      Similar books</span>
    </h2>
  </div>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <% if(locals.similarBooks) { %> <% similarBooks.forEach(book => { %>
      <div class="swiper-slide">
        <a href="/book/<%= book.id %>" 
          ><img src="<%= book.coverImage.split('-s').join('') %>" alt="book image"
        /></a>
      </div>
      <% }); %> <% } %>
    </div>
  </div>
</div>
