@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import "./partials/header.css";
@import "./partials/login.css";
@import "./partials/register.css";
@import "./partials/home.css";
@import "./partials/category.css";

:root {
  --primary: #128f12;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  transition: width none;
}

html {
  font-size: 1rem;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.errorMessage {
  font-size: 0.8rem;
  color: red;
  margin-top: 0.8rem;
  margin-left: 1.1rem;
}
