.book-types {
  background: url(../../images/banner-bg.jpg);
  padding: 1rem;
  position: relative;
}
.slider-header {
  margin-bottom: -1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-header a {
  color: var(--primary);
  text-decoration: none;
}
.slider-title {
  font-size: 1.5rem;
  font-weight: normal;
}
.slider-title span {
  color: var(--primary);
}

/* Category Swiper */
.category {
  position: relative;
}

.category .swiper {
  max-width: 100%;
  height: 175px;
  padding: 0.2rem 0;
  margin-top: 1.5rem;
}

.category .swiper-slide {
  width: 70%;
  height: 100%;
}

.category .swiper-slide a {
  width: 70% !important;
}

/* media quaries */
@media (max-width: 620px) {
  .slider-header .slider-title {
    font-size: 1.3rem;
  }
  .slider-header a {
    font-size: 1rem;
  }
}
@media (max-width: 460px) {
  .slider-header .slider-title {
    font-size: 1rem;
  }
  .slider-header a {
    font-size: 0.8rem;
  }
}
@media (max-width: 360px) {
  .slider-header .slider-title {
    font-size: 0.8rem;
  }
}
