/* header - 1 - */
.header-1 {
  padding: 0.2rem 2rem;
  padding-bottom: 0.3rem;
  background: url(../../images/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

.logo {
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > img {
  max-width: 40px;
}

.logo > .name {
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 0.5rem;
  align-self: flex-end;
  text-decoration: none;
}

.search-form {
  width: 40vw;
  padding-right: 0px;

  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.text-input {
  width: 93%;
  padding: 0.5rem 0.8rem;
}

.search-form > button {
  border: none;
  background-color: transparent;
}

.search-icon {
  font-size: 1.2rem;
  color: gray;
  padding: 0px 0.6rem;
  margin-top: 0.2rem;
  cursor: pointer;
}

.hero {
  width: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-button {
  display: none;
}

.hero i {
  color: var(--primary);
  font-size: 1.2rem;
  cursor: pointer;
}

.hero a {
  text-decoration: none;
}

.hero .menu {
  display: none;
}

/* header - 2 - */
.header-2 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  overflow-x: hidden;
}

.header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-2 .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.8rem;
}

.nav-item {
  padding: 0.6rem 0.4rem;
  list-style-type: none;

  transition: all 0.5s;
}

.nav-item:hover {
  background-color: rgb(18, 87, 18);
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown .link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-menu {
  font-size: 0.6rem;
  font-weight: bold;
  max-width: 150px;
  min-height: 50px;
  text-align: right;
  padding: 0.3rem;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0;
  top: calc(100% + 0.15rem);
  border-radius: 0.25rem;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

/* .dropdown > .link:active + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
} */

.dropdown-menu.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-item {
  padding: 0.1rem 0;
}

.dropdown-item:last-child {
  text-align: center;
  padding: 0.3rem;
  margin-top: 0.3rem;
  border-top: 1px solid var(--primary);
}

.dropdown-item:last-child > a {
  font-weight: normal;
  display: block;
  padding: 0.2rem 0;
  color: #fff;
  background-color: rgb(253, 55, 55);
}

/* media Quaries */

@media (max-width: 726px) {
  .hero {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .header-2 {
    width: 200px;
    height: 100vh;
    padding: 0;
    display: block;
    position: absolute;
    right: 0;
    top: 54px;
    display: none;
  }
  .header-2.active {
    position: relative;
  }
  .header-2.menu {
    display: block;
  }
  .header-2 .navbar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }
  .nav-item {
    width: 100%;
  }
  .nav-link {
    display: block;
    width: 100%;
    padding: 0 0.5rem;
  }
  .header-1 {
    padding: 0.2rem 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  .header-1 .search-form {
    width: 90%;
    position: absolute;
    left: 2rem;
    top: -3rem;
  }
  .header-1 .search-form.active {
    top: 4rem;
  }
  .search-button {
    display: inline-block;
  }
  .hero {
    width: 100px;
    justify-content: space-between;
  }
  .hero .menu {
    display: inline-block;
  }
}

@media (max-width: 520px) {
  .header-1 .search-form {
    left: 1.5rem;
  }
}

@media (max-width: 410px) {
  .header-1 .search-form {
    left: 1rem;
  }
}
