.home {
  width: 100vw;
  padding: 4rem;
  padding-bottom: 0;
  background: url(../../images/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .row {
  display: flex;
  justify-content: space-between;
  gap: 0;
}

.content h1 {
  font-size: 1.9rem;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
}

h1 .text-style {
  color: var(--primary);
}

.content p {
  font-size: 0.9rem;
  padding-top: 0.6rem;
  padding-bottom: 0.2rem;
}

.content button {
  color: #fff;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  background-color: var(--primary);
  border-radius: 1.5rem;
  cursor: pointer;
}

.popularBooks {
  max-width: 560px;
  max-height: 300px;
  padding-top: 1rem;
  position: relative;
}

.home .swiper {
  max-width: 100%;
  min-height: 250px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

a.swiper-slide > img {
  width: 80%;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.8);
  object-fit: cover;
}

.swiper-slide:hover img {
  transform: scale(0.9);
}

.stand {
  max-width: 100%;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
}

/* media quaries */
@media (max-width: 1170px) {
  .home {
    padding: 3rem 2rem 0 2rem;
  }
  .content h1 {
    font-size: 1.5rem;
  }
  .home .slider {
    margin-top: -50px;
  }
}

@media (max-width: 982px) {
  .content h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 916px) {
  .home {
    padding: 2rem 2rem 0 2rem;
  }
  .home .row {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .content {
    width: 650px;
  }
  .content h1 {
    font-size: 1.5rem;
    margin-top: 0;
  }
}

@media (max-width: 560px) {
  .popularBooks {
    max-width: 350px;
    height: auto;
  }
  .swiper-slide {
    height: 70%;
  }
  .stand {
    max-width: 400px;
    bottom: 20px;
  }
}

@media (max-width: 425px) {
  .home {
    padding: 2rem 0.5rem 0 0.5rem;
  }
  .content h1 {
    font-size: 1.3rem;
  }
  .content p {
    font-size: 0.7rem;
  }
  .content button {
    padding: 0.3rem 1rem;
  }

  .popularBooks {
    max-width: 300px;
  }
  .stand {
    max-width: 300px;
  }
}

@media (max-width: 404px) {
}

@media (max-width: 336px) {
  .content h1 {
    font-size: 1rem;
  }
}
