#pagination-demo {
  display: inline-block;
  margin-bottom: 1.75em;
}
#pagination-demo li {
  display: inline-block;
}

.hein {
  display: none;
}

.books-container {
  width: 100vw;
  height: auto;
  background: url("../../images/banner-bg.jpg");
}

.items {
  width: 130px;
  height: 180px;
  box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.8);
}

@media (max-width: 525px) {
  .items {
    max-width: 100px;
    height: 150px;
  }
}
